* {
  background-color: #a0e7e5;
  font-size: 100%;
}

h1 {
  font-family: "rubik doodle shadow";
  font-size: 200px;
  width: 70%;
  text-align: center;
  color: black;
  background-color: pink;
  border: solid;
  padding: 1px 20px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 100px;
  border-radius: 10px;
  position: relative;
  left: 13%;
}

img {
  margin: 0;
  border: solid;
  border-radius: 10%;
  width: 49%;
  margin-left: 0;
  margin-right: 0;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0.3));
}

#massive-div{
  position: relative;
}

#big-div {
  position: absolute;
  inset: 0;
  margin: auto;
}
#small-div {
  align-content: center;
  text-align: center;
  font-family: Bitcount Grid Double;
  font-weight: 500;
}

p{
  font-size: 2rem;
}

@media (max-width: 1728px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 300px) {
    h1 {
      font-size: 1em;
      width: 100%;
    }
  }

  @media (max-width: 1428px) {
    img {
      width: 40%;
    }
  }

  #group4{
    position: relative;
    top: 2%;
  }